@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  a {
    @apply cursor-pointer;
  }

  #social img:not(last-child):hover {
    @apply bg-grayish-blue/70;
  }
}


@layer components {
  .share-btn {
    @apply rounded-full h-8 w-8 ml-auto;
  }
}

.rest::after {
  content: "";
  background: #000;
  width: 100%;
  height: 2rem;
  display: block;
  position: absolute;
  bottom: -2rem;
}
